<div class="list-group">
  <%= link_to 'New Movie', new_movie_path, class: 'list-group-item list-group-item-primary' %>
  <a href="#" class="list-group-item list-group-item-action">My Watchlist</a>
  <a href="#" class="list-group-item list-group-item-action">My Account</a>
</div>
