<h1 class="text-center with-border">Pick something to rate/view ratings for</h1>

<div class="row">
  <div class="col-md-4 center-column-fix">
    <div class="p-2 tint">
      <img class="img-fluid match-height" src="<%= asset_url('movie.jpeg') %>" />
      <p>Movies</p>
    </div>
  </div>

  <div class="col-md-4 center-column-fix">
    <div class="p-2 tint">
      <img class="img-fluid match-height" src="<%= asset_url('tv.jpg') %>" />
      <p>TV Shows</p>
    </div>
  </div>

  <div class="col-md-4 center-column-fix">
    <div class="p-2 tint">
      <img class="img-fluid match-height" src="<%= asset_url('restaurant.jpeg') %>" />
      <p>Restaurants</p>
    </div>
  </div>
</div>
