<% content_for :namespace do %>
  <%= render 'layouts/navbar' %>

  <div style="margin-top: calc(65px + 2rem)">
    <div class="container">
      <%= flash_messages unless flash.empty? %>
      <%= yield %>
    </div>
  </div>
<% end %>
<%= render template: 'layouts/application' %>
